*{
	margin: 0;
	padding: 0;
	font-family: Candara;
}

body{
	background-color: #f1f1f1;
}

.navToggler{
	width: 50px;
	height: 100%;
	background-color: #111;
	background-image: url('img/menu.png'); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.navToggler:hover{
	filter: brightness(0.6);
}

.main-nav{
	position: fixed;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: #fff;
   display: flex;
   flex-wrap: wrap;
   z-index: 1000;
}


.main-nav ul{
   display: flex;
   flex-wrap: wrap;
  padding-left: 10px;
}


.main-nav ul li{
  list-style: none;
  line-height: 60px;
}

.main-nav ul li a{
  padding: 0 10px;
  text-decoration: none;
  font-size: 20px;
  color: #183411;
}


.toggleMenu{
	position: fixed;
	width: 50px;
	left: 0;
	bottom: 0;
	height: calc(100vh - 60px);
	background-color: black;
	z-index: 1000;
	opacity: 0;
	transition: all 0.8s ease-in-out;
}

.toggleMenu ul{
  padding-top: 10px; 
  overflow: hidden;
  visibility: hidden;
}


.toggleMenu ul li{
	list-style: none;
	height: 40px;
	white-space: nowrap;
	padding: 0 15px;
}



.toggleMenu ul li span, .toggleMenu ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	opacity: 0;
	transition: all 0.8s ease-in-out;
}


 .toggleMenu ul li a:hover{
	color: #444;
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}


























